<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title th:text="${updateServerconfigModel.title}">智能提讯系统</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/uimaker/css/common.css">
</head>
<body>
<div class="layui-fluid layadmin-message-fluid" style="padding: 0 15px">
    <div th:replace="header :: header">...</div>

    <div class="layui-elem-quote" style=" padding: 10px;">
        <h3 th:text="${updateServerconfigModel.title}">智能提讯系统</h3>
    </div>
    <form class="layui-form layui-form-pane layui-main site-inline" style="margin-top: 20px">
        <div class="layui-progress " lay-showpercent="true" lay-filter="progress_demo" style="visibility:hidden;margin-bottom: 10px">
            <div class="layui-progress-bar "  ><span class="layui-progress-text">10%</span></div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">客户端</label>
            <div class="layui-input-block">
                <input type="text" name="clientname" id="clientname" lay-verify="title" autocomplete="off" placeholder="请输入系统名称" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">LOGO</label>
            <div class="layui-input-block">
                <button type="button" class="layui-btn layui-btn-normal layui-input" id="test1" style="background-color: #1e9fff" onclick="$('#client_url').click();"><i class="layui-icon"></i>上传图片</button>
                <input id="client_url" type="file" accept="image/*" onchange="showimg(this);" style="display: none;">
                <div class="layui-inline layui-word-aux">
                </div>
                <div class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
                    预览图：
                    <div class="layui-upload-list" id="test-upload-more-list">
                        <img src="" id="client_urlshow" style="" alt="">
                    </div>
                </div>
            </div>

        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">服务器IP</label>
            <div class="layui-input-block">
                <input type="text" name="serverip" id="serverip" lay-verify="title" autocomplete="off" placeholder="请输入服务器IP" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">服务器端口</label>
            <div class="layui-input-block">
                <input type="text" name="serverport" id="serverport" lay-verify="title" autocomplete="off" placeholder="请输入服务器端口" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">同步时间</label>
            <div class="layui-input-block">
                <input type="number" name="workdays" id="workdays" lay-verify="title" autocomplete="off" placeholder="请输入同步时间(天)" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">授权状态</label>
            <div class="layui-input-block">
                <button class="layui-btn  layui-btn-sm layui-btn-radius " name="authorizebool" id="authorizebool" style="margin-left: 10px;"></button>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class=" layui-btn layui-btn-normal" onclick="updateServerconfig();" id="saveapkbtn" type="button">保存修改</button>
            </div>
        </div>
    </form>




    <div th:replace="footer :: footer">...</div>
</div>


<script th:src="@{/js/jquery-1.11.1.js}" type="text/javascript"></script>
<script th:src="@{/js/common.js}"  type="text/javascript" ></script>
<script th:src="@{/js/actionid.js}" type="text/javascript"></script>
<script th:src="@{/js/list.js}" type="text/javascript"></script>
<script th:src="@{/layui/layui.js}"type="text/javascript"></script>
<script th:src="@{/layui/lay/modules/laytpl.js}" type="text/javascript"></script>
<script th:src="@{/js/client_web/base/updateServerconfig.js}" type="text/javascript"></script>
<script th:inline="javascript">
    var INIT_CLIENT;
    var INIT_CLIENTKEY;
    $(function(){
        INIT_CLIENT=[[${session.INIT_CLIENT}]];
        INIT_CLIENTKEY=[[${session.INIT_CLIENTKEY}]];
        setpageAction(INIT_CLIENT,"client_web/base/updateServerconfig");
        getServerconfig();
    });
    layui.use(['layer','element','form'], function(){
        var layer = layui.layer; //获得layer模块
        var element = layui.element;
        var form = layui.form;
        //使用模块
    });
</script>
</body>
</html>