<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.avst.trm.v1.common.datasourse.police.mapper.Police_templateMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.avst.trm.v1.common.datasourse.police.entity.Police_template">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="ordernum" property="ordernum" />
        <result column="createtime" property="createtime" />
        <result column="updatetime" property="updatetime" />
        <result column="ssid" property="ssid" />
        <result column="string1" property="string1" />
        <result column="string2" property="string2" />
        <result column="integer1" property="integer1" />
        <result column="integer2" property="integer2" />
    </resultMap>


    <select id="getTemplateList" resultType="com.avst.trm.v1.common.datasourse.police.entity.Police_template" parameterType="com.avst.trm.v1.outsideinterface.offerclientinterface.police.v1.req.GetTemplatesParam">
      select t.* from police_template t
      LEFT JOIN police_templatetotype tt ON tt.templateid=t.id
      <where>
          <if test="null!=templatetypeid">
              tt.templatetypeid=#{templatetypeid}
          </if>
          <if test="null!=keyword">
              and t.title like '%${keyword}%'
          </if>
      </where>
    </select>

    <select id="countgetTemplateList" resultType="java.lang.Integer" parameterType="com.avst.trm.v1.outsideinterface.offerclientinterface.police.v1.req.GetTemplatesParam">
        select  count(t.id) from police_template t
        LEFT JOIN police_templatetotype tt ON tt.templateid=t.id
        <where>
            <if test="null!=templatetypeid">
                tt.templatetypeid=#{templatetypeid}
            </if>
            <if test="null!=keyword">
                and t.title like '%${keyword}%'
            </if>
        </where>
    </select>
</mapper>
