<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.avst.trm.v1.common.datasourse.police.mapper.Police_problemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.avst.trm.v1.common.datasourse.police.entity.Police_problem">
        <id column="id" property="id" />
        <result column="problem" property="problem" />
        <result column="referanswer" property="referanswer" />
        <result column="ordernum" property="ordernum" />
        <result column="createtime" property="createtime" />
        <result column="updatetime" property="updatetime" />
        <result column="ssid" property="ssid" />
        <result column="string1" property="string1" />
        <result column="string2" property="string2" />
        <result column="integer1" property="integer1" />
        <result column="integer2" property="integer2" />
    </resultMap>

    <select id="getProblemList" resultType="com.avst.trm.v1.common.datasourse.police.entity.Police_problem" parameterType="com.avst.trm.v1.outsideinterface.offerclientinterface.police.v1.req.GetProblemsParam">
        select p.* from police_problem p
        LEFT JOIN police_problemtotype pp  ON pp.problemid=p.id
        <where>
            <if test="null!=problemtypeid">
                pp.problemtypeid=#{problemtypeid}
            </if>
            <if test="null!=keyword">
                and p.problem like '%${keyword}%'
            </if>
        </where>
    </select>

    <select id="countgetProblemList" resultType="java.lang.Integer" parameterType="com.avst.trm.v1.outsideinterface.offerclientinterface.police.v1.req.GetProblemsParam">
        select count(p.id) from police_problem p
        LEFT JOIN police_problemtotype pp  ON pp.problemid=p.id
        <where>
            <if test="null!=problemtypeid">
                pp.problemtypeid=#{problemtypeid}
            </if>
            <if test="null!=keyword">
                and p.problem like '%${keyword}%'
            </if>
        </where>
    </select>

</mapper>
