<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.avst.trm.v1.common.datasourse.police.mapper.Police_caseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.avst.trm.v1.common.datasourse.police.entity.Police_case">
        <id column="id" property="id" />
        <result column="casename" property="casename" />
        <result column="cause" property="cause" />
        <result column="casenum" property="casenum" />
        <result column="occurrencetime" property="occurrencetime" />
        <result column="starttime" property="starttime" />
        <result column="endtime" property="endtime" />
        <result column="caseway" property="caseway" />
        <result column="ordernum" property="ordernum" />
        <result column="createtime" property="createtime" />
        <result column="ssid" property="ssid" />
        <result column="creator" property="creator" />
        <result column="casebool" property="casebool" />
        <result column="department" property="department" />
        <result column="string1" property="string1" />
        <result column="string2" property="string2" />
        <result column="integer1" property="integer1" />
        <result column="integer2" property="integer2" />
        <result column="repackbool" property="repackbool" />
    </resultMap>

</mapper>
