<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.avst.trm.v1.common.datasourse.police.mapper.Police_userinfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.avst.trm.v1.common.datasourse.police.entity.Police_userinfo">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="beforename" property="beforename" />
        <result column="nickname" property="nickname" />
        <result column="age" property="age" />
        <result column="sex" property="sex" />
        <result column="both" property="both" />
        <result column="nationalssid" property="nationalssid" />
        <result column="nationalityssid" property="nationalityssid" />
        <result column="professional" property="professional" />
        <result column="educationlevel" property="educationlevel" />
        <result column="politicsstatus" property="politicsstatus" />
        <result column="phone" property="phone" />
        <result column="domicile" property="domicile" />
        <result column="residence" property="residence" />
        <result column="workunits" property="workunits" />
        <result column="createtime" property="createtime" />
        <result column="specialtype" property="specialtype" />
        <result column="id" property="id" />
        <result column="string1" property="string1" />
        <result column="string2" property="string2" />
        <result column="integer1" property="integer1" />
        <result column="integer2" property="integer2" />
    </resultMap>

</mapper>
