<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title th:text="${userModel.title}">Title</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/uimaker/css/common.css">
    <style>
        /*.layui-form-item .layui-input-inline {*/
            /*width: 130px;*/
        /*}*/
    </style>
</head>
<body>

<div style="margin: 15px;" class="layui-form">

    <div class="layui-elem-quote">
        <h3 th:text="${userModel.title}"></h3>
    </div>

    <form class="layui-form" action="">
        <div class="layui-form-item">
            <!--<label class="layui-form-label" style="width: auto;">所属地</label>-->

            <!--<div class="layui-input-inline">-->
                <!--<select name="quiz1">-->
                    <!--<option value="">请选择省</option>-->
                    <!--<option value="浙江" selected="">浙江省</option>-->
                    <!--<option value="你的工号">江西省</option>-->
                    <!--<option value="你最喜欢的老师">福建省</option>-->
                <!--</select>-->
            <!--</div>-->
            <!--<div class="layui-input-inline">-->
                <!--<select name="quiz2">-->
                    <!--<option value="">请选择市</option>-->
                    <!--<option value="杭州">杭州</option>-->
                    <!--<option value="宁波" disabled="">宁波</option>-->
                    <!--<option value="温州">温州</option>-->
                    <!--<option value="温州">台州</option>-->
                    <!--<option value="温州">绍兴</option>-->
                <!--</select>-->
            <!--</div>-->
            <!--<div class="layui-input-inline">-->
                <!--<select name="quiz3">-->
                    <!--<option value="">请选择县/区</option>-->
                    <!--<option value="西湖区">西湖区</option>-->
                    <!--<option value="余杭区">余杭区</option>-->
                    <!--<option value="拱墅区">临安市</option>-->
                <!--</select>-->
            <!--</div>-->

            <label class="layui-form-label" style="width: auto;">用户名称</label>
            <div class="layui-input-inline">
                <input type="text" name="username" required lay-verify="required" placeholder="请输入用户名称" autocomplete="off" class="layui-input">
            </div>

            <label class="layui-form-label" style="width: auto;">登陆账号</label>
            <div class="layui-input-inline">
                <input type="text" name="loginaccount" required lay-verify="required" placeholder="请输入登陆账号" autocomplete="off" class="layui-input">
            </div>

            <label class="layui-form-label" style="width: auto;">用户角色</label>
            <div class="layui-input-inline">
                <select name="quiz3">
                    <option value="">请选择角色</option>
                    <option value="西湖区">区域管理员</option>
                    <option value="余杭区">省管理员</option>
                    <option value="拱墅区">市管理员</option>
                </select>
            </div>

            <input type="submit" class="layui-btn layui-btn-normal" value="查询">
            <a th:href="@{/web/user/getAddUser}" class="layui-btn layui-btn-normal" >添加用户</a>
        </div>
    </form>

    <table class="layui-table" >
        <thead>
        <tr>
            <th>序号</th>
            <th>用户角色</th>
            <th>用户名称</th>
            <th>登录账号</th>
            <th>最后登录时间</th>
            <th>用户状态</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>超管</td>
            <td>吴斌</td>
            <td>admin</td>
            <td>2018-11-29</td>
            <td >
                <input type="checkbox" name="switch" lay-skin="switch" lay-text="正常|已禁用" disabled>
            </td>
            <td>
                <a th:href="@{/web/user/getUpdateUser}" class="layui-btn layui-btn-normal layui-btn-sm">修改</a>
                <a href="http://www.layui.com" class="layui-btn layui-btn-danger layui-btn-sm">删除</a>
            </td>
        </tr>
        </tbody>
    </table>

    <div id="demo20" style="float: right;"></div>
    <ul id="biuuu_city_list"></ul>
</div>

<div th:replace="footer :: footer">...</div>

<script>
    //Demo
    layui.use('form', function(){});

    layui.use(['laypage', 'layer'], function(){
        var laypage = layui.laypage
            ,layer = layui.layer;

        //将一段数组分页展示

        //测试数据
        var data = [
            '北京',
            '上海',
            '广州',
            '深圳',
            '杭州',
            '长沙',
            '合肥',
            '宁夏',
            '成都',
            '西安',
            '南昌',
            '上饶',
            '沈阳',
            '济南',
            '厦门',
            '福州',
            '九江',
            '宜春',
            '赣州',
            '宁波',
            '绍兴',
            '无锡',
            '苏州',
            '徐州',
            '东莞',
            '佛山',
            '中山',
            '成都',
            '武汉',
            '青岛',
            '天津',
            '重庆',
            '南京',
            '九江',
            '香港',
            '澳门',
            '台北'
        ];

        //调用分页
        laypage.render({
            elem: 'demo20'
            ,count: data.length
            ,limit: 5
            ,theme: "#1e9fff"
            ,jump: function(obj){

                //加载层-风格4
                var index = layer.msg('加载中', {
                    icon: 16
                    ,shade: 0.01
                    ,time: 1000, //20s后自动关闭
                });

                //模拟渲染
                // document.getElementById('biuuu_city_list').innerHTML = function(){
                //     var arr = []
                //         ,thisData = data.concat().splice(obj.curr*obj.limit - obj.limit, obj.limit);
                //     layui.each(thisData, function(index, item){
                //         arr.push('<li>'+ item +'</li>');
                //     });
                //     return arr.join('');
                // }();

                // console.log(index);

                // layer.close(index);

            }
        });




    });

    pageid="list";
</script>

</body>
</html>