<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <style>
        .piece{
            background-color: #F2F2F2;width: 48%;float: left;margin-top: 10px;text-align: right;
        }
        .piece_left{
            margin-right: 10px;
        }
        .piece_bottoma{
            margin-top: 10px;
        }
        .piece p{
            margin: 12px;
        }
        .p_num{
            margin: 12px;color: #1e9fff;
        }
        .piece:hover {
            background-color: #e2e2e2;
        }
    </style>
</head>

<body >


<div style="padding: 20px; background-color: #F2F2F2;">

    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12 layui-col-space15">
            <div class="layui-col-md3">
                <div class="layui-card">
                    <div class="layui-card-header">
                        笔录数据
                        <span class="layui-badge layuiadmin-badge" style="float: right;margin-top: 13px;">总</span>
                    </div>
                    <div class="layui-card-body " style="overflow:hidden;">
                        <div class="piece piece_left" >
                            <a href="javascript:;">
                                <p>模板</p>
                                <h1 class="p_num" th:text="${policeTemplateCount}">36</h1>
                            </a>
                        </div>

                        <div  class="piece">
                            <a th:href="@{/sweb/police/arraignment/getArraignment}">
                                <p>提讯总数</p>
                                <h1 class="p_num" th:text="${policeArraignmentCount}">578</h1>
                            </a>
                        </div>

                        <div class="piece piece_left piece_bottom">
                            <a href="javascript:;">
                                <p>题目</p>
                                <h1 class="p_num" th:text="${policeProblemCount}">1280</h1>
                            </a>
                        </div>

                        <div  class="piece piece_bottom">
                            <a href="javascript:;">
                                <p>答案</p>
                                <h1 class="p_num" th:text="${referanswerCount}">8888</h1>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-md3">
                <div class="layui-card">
                    <div class="layui-card-header">
                        案件数据
                        <span class="layui-badge layui-bg-green layuiadmin-badge" style="float: right;margin-top: 13px;">总</span>
                    </div>
                    <div class="layui-card-body" style="overflow:hidden;">
                        <div class="piece piece_left">
                            <a href="javascript:;">
                                <p>笔录类型</p>
                                <h1 class="p_num" th:text="${policeRecordtypeCount}">17</h1>
                            </a>
                        </div>

                        <div  class="piece">
                            <a th:href="@{/sweb/police/arraignment/getArraignment}">
                                <p>案件数量</p>
                                <h1 class="p_num" th:text="${policeCaseCount}">22</h1>
                            </a>
                        </div>

                        <div class="piece piece_left piece_bottom">
                            <a th:href="@{/sweb/base/keyword/getKeyword}">
                                <p>关键字</p>
                                <h1 class="p_num" th:text="${keywordCount}">368</h1>
                            </a>
                        </div>

                        <div  class="piece">
                            <a href="javascript:;">
                                <p>笔录文件</p>
                                <h1 class="p_num" th:text="${fileCount}">6</h1>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-col-md3">
                <div class="layui-card">
                    <div class="layui-card-header">
                        用户数据
                        <span class="layui-badge layui-bg-orange layuiadmin-badge" style="float: right;margin-top: 13px;">总</span>
                    </div>
                    <div class="layui-card-body" style="overflow:hidden;">
                        <div class="piece piece_left">
                            <a th:href="@{/sweb/base/user/getUser}">
                                <p>系统用户</p>
                                <h1 class="p_num" th:text="${admininfoCount}">2</h1>
                            </a>
                        </div>

                        <div  class="piece">
                            <a th:href="@{/sweb/base/role/getRole}">
                                <p>角色</p>
                                <h1 class="p_num" th:text="${roleCount}">6</h1>
                            </a>
                        </div>

                    </div>
                </div>
            </div>

            <div class="layui-col-md3">
                <div class="layui-card">
                    <div class="layui-card-header">
                        授权信息
                        <span class="layui-badge layui-bg-black layuiadmin-badge" style="float: right;margin-top: 13px;">授权</span>
                    </div>
                    <div class="layui-card-body" style="color: #666;">
                        <p th:text="'单位名称：'+${getSQEntity.clientName}">系统用户</p>
                        <p th:if="${getSQEntity.foreverBool==false}" th:text="'授权开始时间：'+${getSQEntity.startTime}">系统用户</p>

                        <p th:text="'授权期限：'+${getSQEntity.foreverBool==true?'永久':'临时'}">系统用户</p>

                        <p th:if="${getSQEntity.foreverBool==false}" th:text="'授权总天数：'+${getSQEntity.sqDay}">系统用户</p>

                        <p th:text="'单位代码：'+${getSQEntity.unitCode}">系统用户</p>
                        <p th:text="'客户端序号：'+${getSQEntity.sortNum}">系统用户</p>
                        <span>授权功能：</span>
                        <span class="layui-badge layui-bg-blue" style="margin-right: 5px;" th:each="entity : ${getGnlist}" th:text="${entity}">角色</span>
                    </div>
                </div>
            </div>
        </div>


    </div>

</div>



<script src="/layui/layui.js"></script>
<!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
<!--[if lt IE 9]>
<script src="/layui/in8andie9/html5.min.js"></script>
<script src="/layui/in8andie9/respond.min.js"></script>
<![endif]-->
</body>
</html>