<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title th:text="${title}">欢迎登录后台管理系统</title>
<link href="/uimaker/css/style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="/layui/css/layui.css">
    <style type="text/css">
        .layui-form-checked[lay-skin=primary] i{
            border-color:#597FC0 !important;
            background-color:#FFF !important;
            color:#597FC0 !important;
            font-weight: bold;
        }
        .layui-form-checkbox[lay-skin=primary]:hover i{
            border-color:#597FC0 !important;
        }
        .layui-form-radio>i:hover, .layui-form-radioed>i{
            color: #597FC0 !important;
        }

    </style>
</head>

<body style="background-color:#1c77ac; background-image:url(/uimaker/images/light.png); background-repeat:no-repeat; background-position:center top; overflow:hidden;">
    <div id="mainBody">
      <div id="cloud1" class="cloud"></div>
      <div id="cloud2" class="cloud"></div>
    </div>

<div class="logintop">
    <span th:text="${title}">欢迎登录后台管理界面平台</span>
    <ul>
    <li id="guidepage"><a th:href="${guidepageUrl}">返回引导页</a></li>
    <li><a href="#">帮助</a></li>
    <li><a href="#">关于</a></li>
    </ul>
    </div>

    <div class="loginbody">

    <span id="systemlogo" style="border: 0px;" class="systemlogo"></span>

    <div class="loginbox">
        <form class="layui-form" action="">
            <ul>
                <li><input name="loginaccount" type="text" class="loginuser" value="" lay-verify="loginaccount"/></li>
                <li><input name="password" type="password" class="loginpwd" value="" lay-verify="password"/></li>
                <li><input type="button" class="loginbtn" id="loginbtn" value="登录"  lay-submit="" lay-filter="loginbtn" style="margin-right: 10px;"/>
                    <input name="" type="checkbox" title="记住密码"  lay-skin="primary"/>
                    <a href="#" style="color: #666;font-size: 14px;position: relative;top: 2px;">忘记密码？</a>
                </li>
            </ul>
        </form>
    </div>
    <!--onclick="javascript:window.location='main.html'"  -->
    </div>



    <div id="bottom_mian" class="loginbm"></div>


</body>
<script language="JavaScript" src="/js/jquery-1.11.1.js"></script>
<script language="JavaScript" src="/js/common.js"></script>
<script src="/uimaker/js/cloud.js" type="text/javascript"></script>
<script src="/layui/layui.js"></script>
<script th:src="@{/js/actionid.js}" type="text/javascript"></script>
<script th:src="@{/js/policevo/login.js}" type="text/javascript"></script>
<script src="/js/canvas-nest.js" type="text/javascript"></script>
<script th:inline="javascript">
    layui.use(['layer','element','laydate','form'], function(){
        var layer = layui.layer; //获得layer模块
        var element = layui.element;
        var form=layui.form;
    });


    var INIT_WEB;
    var INIT_CLIENT;
    $(function(){
       $('.loginbox').css({'position':'absolute','left':($(window).width()-692)/2});
        $(window).resize(function(){
            $('.loginbox').css({'position':'absolute','left':($(window).width()-692)/2});
        });

        INIT_WEB = [[${session.INIT_WEB}]];
        INIT_CLIENT = [[${session.INIT_CLIENT}]];
        setpageAction(INIT_WEB, "server_web/base/login");

        getNavList();

        document.onkeydown = function (event) {
            var e = event || window.event;
            if (e && e.keyCode == 13) { //回车键的键值为13
                event.preventDefault();
                login_login();
            }
        };

        //如果在iframe中打开，就自动点击登录按钮
        if (self != top || window.frames.length != parent.frames.length || self.frameElement && self.frameElement.tagName == "IFRAME") {
            $("#bottom_mian,#guidepage").remove();
            var loginaccount = GetQueryString("loginaccount");
            var adminpassword = GetQueryString("loginpassword");

            // if (isNotEmpty(loginaccount) && isNotEmpty(adminpassword)) {
            //     $("input[name='loginaccount']").val(loginaccount);
            //     $("input[name='password']").val(adminpassword);
            //     $("#loginbtn").click();
            // }
        }
    });
</script>
</html>