<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.avst.trm.v1.common.datasourse.base.mapper.Base_serverconfigMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.avst.trm.v1.common.datasourse.base.entity.Base_serverconfig">
        <id column="id" property="id" />
        <result column="sysname" property="sysname" />
        <result column="syslogo_filesavessid" property="syslogo_filesavessid" />
        <result column="clientname" property="clientname" />
        <result column="client_filesavessid" property="client_filesavessid" />
        <result column="serverip" property="serverip" />
        <result column="serverport" property="serverport" />
        <result column="authorizebool" property="authorizebool" />
        <result column="type" property="type" />
        <result column="workstarttime" property="workstarttime" />
        <result column="workdays" property="workdays" />
        <result column="authorizesortnum" property="authorizesortnum" />
        <result column="id" property="id" />
        <result column="string1" property="string1" />
        <result column="string2" property="string2" />
        <result column="integer1" property="integer1" />
        <result column="integer2" property="integer2" />
    </resultMap>

</mapper>
