<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title th:text="${arraignmentModel.title}">Title</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/uimaker/css/common.css">
</head>
<body>


<div style="margin: 15px;">

    <div class="layui-elem-quote">
        <h3 th:text="${arraignmentModel.title}"></h3>
    </div>

    <form class="layui-form" action="">
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: auto;">案件名称</label>
            <div class="layui-input-inline">
                <input type="text" name="roleName" lay-verify="required" placeholder="请输入案件名称" autocomplete="off" class="layui-input">
            </div>
            <label class="layui-form-label" style="width: auto;">案件编号</label>
            <div class="layui-input-inline">
                <input type="text" name="roleName" lay-verify="required" placeholder="请输入案件编号" autocomplete="off" class="layui-input">
            </div>
            <input type="submit" class="layui-btn layui-btn-normal" value="查询">
        </div>
    </form>

    <table class="layui-table">
        <thead>
        <tr>
            <th>序号</th>
            <th>案件名称</th>
            <th>当前案由</th>
            <th>案件编号</th>
            <th>记录人</th>
            <th>到案方式</th>

            <th>案件发生时间</th>
            <th>案发开始时间</th>
            <th>案发结束时间</th>
            <th>询问次数</th>
            <th>操作</th>

        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>黑帮特大走私案</td>
            <td>违反海关法规</td>
            <td>165454</td>
            <td>贤心</td>
            <td>当场抓获</td>
            <td>2016-11-29</td>
            <td>2018-11-29</td>
            <td>2018-11-29</td>
            <td>10</td>
            <td>
                <a th:href="@{/web/arraignment/getArraignmentShow/1}" class="layui-btn layui-btn-normal layui-btn-sm">笔录详情</a>
            </td>
        </tr>
        </tbody>
    </table>

    <div id="demo20" style="float: right;"></div>
    <ul id="biuuu_city_list"></ul>
</div>

<div th:replace="footer :: footer">...</div>

<script>
    //Demo
    layui.use(['laypage', 'layer','form'], function(){
        var laypage = layui.laypage
            ,layer = layui.layer;
    });

</script>

</body>
</html>