<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title  th:text="${waitRecordModel.title}">智能提讯系统</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/uimaker/css/common.css">
    <link rel="stylesheet" href="/layui/css/layui.mobile.css">
    <link rel="stylesheet" href="/uimaker/css/waitRecord.css">
</head>
<style>

</style>

<body>
<div class=" layadmin-message-fluid" style="margin: 20px;">
    <div th:replace="header :: header">...</div>

    <div class="layui-elem-quote layui-row" style=" padding: 10px;">
        <div class="layui-col-md2 ">
                <h3 th:text="${waitRecordModel.title}">智能提讯系统</h3>
        </div>
        <div class="layui-col-md7 " style="font-size: 16px;text-align: center;text-shadow: 0 0 0.2em #1E9FFF;visibility: hidden" id="xthtml" >
            <div style="float: right">
                状态：<span id="xt1"> 加载中  </span>
                紧张值：<span id="xt3"> 0.0  </span>
                心率：<span id="xt6"> 0.0  </span>
                血氧：<span id="xt5"> 0.0</span>
                心率变异：<span id="xt7"> 0.0  </span>
                血压变化：<span id="xt4"> 0.0  </span>
                呼吸次数：<span id="xt8"> 0.0  </span>
                放松值：<span id="xt2">  0.0  </span>
               <span class="layui-badge layui-bg-black" id="snrtext3">fps：0&nbsp;hr_snr：0&nbsp;stress_snr：0</span>
                <span class="layui-badge" id="mtbool_txt">加载中</span>
            </div>
        </div>
        <div class="layui-col-md3 clock " >
            <ul>
                <li id="Date">0000年00月00日</li>
                <li id="hours">00</li>
                <li id="point">:</li>
                <li id="min">00 </li>
                <li id="point">:</li>
                <li id="sec"> 00</li>
            </ul>
            <div id="dqtime" style="display: none"></div>
        </div>
    </div>

    <div class="layui-row layui-form" id="layui-row1" >
      <div class="layui-col-md9 phitem1" style="height: 830px;border:1px  solid #F2F2F2; overflow-x: hidden; overflow-y: scroll;display: block" id="phitem">
            <div id="living3_2">
                <div th:replace="living4 :: living"  >...</div>
            </div>
        </div>
       <div class="layui-col-md3 " style="height: 830px;border:1px  solid #F2F2F2; overflow-x: hidden; overflow-y: scroll;display: none;" id="shrink_html" >
            <div class="layui-col-md12 "  lay-accordion style="padding: 0;height:31%;overflow-x: hidden; overflow-y: scroll;" >
                    <div id="initheart_click" class="layui-card-body layui-row layui-show" style="padding: 0;" >
                        <div class="layui-col-lg12">
                            <div id="livetypes"  >
                                <div id="living3_1"></div>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="layui-col-md12 layui-tab layui-tab-brief" id="initec"  style="height:60%;">
                <ul class="layui-tab-title">
                    <li onclick="initasr()" id="asr" style="display: none">语音识别 <span id="webkit2"></span></li>
                    <li onclick="initheart();"id="ph" style="display: none">身心监测</li>
                    <li onclick="initcase()" id="case"  class="layui-this" > 案件信息<i class="layui-icon layui-icon-edit" style="font-size: 20px;color: red" title="编辑" onclick="open_casetouser()"></i></li>
                </ul>
                <div class="layui-tab-content" id="leftdiv"  style="height:100%;">
                    <div class="layui-tab-item "  id="asritem" style="height:100%;" >
                        <div class="layui-card-header" style="height: 10%;font-weight: normal;background-color: transparent;overflow: hidden;line-height: normal;display: none" id="recordreals_selecthtml">
                            <div class="layui-col-md7 layui-col-xs7 layui-col-lg7" >
                                <input type="text" name="recordreals_select" lay-verify="required" placeholder="搜索内容" autocomplete="off" class="layui-input" id="recordreals_select" oninput="recordreals_select();"  >
                            </div>
                            <div class="layui-col-md5 layui-col-xs5  layui-col-lg5 layui-btn-group" >
                                <button type="button" class="layui-btn layui-btn-normal" onclick="last_realtxt();" >
                                    <i class="layui-icon">&#xe619;</i>
                                </button>
                                <button type="button" class="layui-btn layui-btn-normal "onclick="next_realtxt();">
                                    <i class="layui-icon">&#xe61a;</i>
                                </button>
                            </div>
                        </div>
                        <div class="layui-card" style="box-shadow: initial;height: 88%;overflow-x: hidden; overflow-y: scroll;" id="recordreals_scrollhtml">
                                <div class="layui-card-body" >
                                    <div class="talk_show"  id="recordreals" >

                                    </div>
                                </div>
                        </div>
                    </div>
                    <div class="layui-tab-item phitem2"  id="phitem" style="height:100%;overflow-x: hidden; overflow-y: scroll;">
                            <div class="layui-col-md12" >
                                <div id="showmsg" style=" margin: 2px 0px 2px 0px;border-radius: 4px;border: 1px solid transparent;height: 35px;line-height: 35px;color: #31708f; background-color: #d9edf7; border-color: #bce8f1;text-align: center" ><strong>身心监测加载中...</strong></div>
                            </div>
                            <div class="layui-col-md12" >
                                <div id="main1" style="height:200px;width:100%;"></div>
                            </div>
                            <div class="layui-col-md12 layui-form-item" style="margin-top: 10px" >
                                <div  id="monitor_btn" style="display:inline">
                                    <span class="layui-badge layui-btn" isn="1"  type='stress'  onclick="select_monitor(this);">紧张值</span>
                                    <span class="layui-badge layui-bg-gray layui-btn" isn="-1" type='hr' onclick="select_monitor(this);">心率</span>
                                    <span class="layui-badge layui-bg-gray layui-btn" isn="-1"  type='spo2'  onclick="select_monitor(this);">血氧</span>
                                    <span class="layui-badge layui-bg-gray layui-btn" isn="-1" type='hrv'  onclick="select_monitor(this);">心率变异</span>
                                    <span class="layui-badge layui-bg-gray layui-btn" isn="-1"  type='bp'  onclick="select_monitor(this);">血压变化</span>
                                    <span class="layui-badge layui-bg-gray layui-btn" isn="-1" type='br'  onclick="select_monitor(this);">呼吸次数</span>
                                    <span class="layui-badge layui-bg-gray layui-btn" isn="-1"  type='relax'  onclick="select_monitor(this);">放松值</span>
                                </div>
                                <span class="layui-badge layui-bg-blue layui-btn" isn="-1"  type='all'  onclick="select_monitorall(this);">查看全部</span>
                                <div style="width:95%;text-align: center;margin-top: 2px;color:#1171d6"><span class="layui-badge layui-bg-black"  style="width: 100%;" id="snrtext">fps：0&nbsp;hr_snr：0&nbsp;stress_snr：0</span></div>
                            </div>
                    </div>
                    <div class="layui-tab-item layui-show" id="caseitem"  style="height:100%;overflow-x: hidden; overflow-y: scroll;">
                            <div class="layui-card-body">
                                <table class="layui-table" lay-skin="line" style="table-layout: fixed">
                                    <tbody id="caseAndUserInfo_html">

                                    </tbody>
                                </table>
                            </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-md12" style="position: absolute;bottom: 0;" id="templatetoproblem">
                <h2 class=" layui-card-header " onclick="initcase_header();">
                    问答模板<span style="color: red;font-weight: normal">（提示;双击模板内容自动新增到中文区域）</span>
                    <a class="layui-a-tips" onclick="opneModal_1();" style="float: right;" title="点击变更模板">变更模板</a>
                </h2>
                <div  class="layui-card-body layui-row layui-show" style="padding: 0;overflow-x: hidden; overflow-y: scroll;height: 90%;" >
                    <div class="layui-col-lg12" style="height: 0px;">
                            <table class="layui-table" lay-skin="line" style="table-layout: fixed;"lay-size="sm">
                                <tbody id="templatetoproblem_html">
                                </tbody>
                            </table>
                    </div>
                </div>
            </div>
        </div>
       <div class="layui-col-md6"  style="height: 830px;border:1px  solid #F2F2F2; overflow-x: hidden; overflow-y: scroll;display: none" id="notshrink_html1">
            <div class="layui-col-md12 "  style="margin-top: 1px;margin-bottom:1px" id="www">
                <div class="layui-inline" >
                    <button class="layui-btn layui-btn-primary " shrink_bool="1" onclick="shrink(this);" title="控制左侧功能和展开收缩"><i class="layui-icon layui-icon-shrink-right" ></i></button>
                    <button class="layui-btn layui-btn-normal " id="baocun"  >保存</button>
                </div>
                <div class="layui-inline" >
                    <div class="btn-group">
                        <button class="layui-btn layui-btn-normal" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">导出<span class="caret"></span></button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" id="dc_li">
                            <li type="1"><a href="#" >导出word</a></li>
                            <li type="2"><a href="#" >导出pdf</a></li>
                        </ul>
                    </div>
                </div>
                <button class="layui-btn layui-btn-normal " onclick="clearRecord();" id="clearRecord">重置模板</button>
                <button class="layui-btn layui-btn-primary" onclick="getRecordreal_LastByRecordssid();" id="getRecordreal_LastByRecordssid" style="display: none">获取重置</button>
                <button class="layui-btn layui-btn-warm " onclick="focuslable(null,2,'q');">添加自定义问答</button>
                <div style="float: right;">
                        <button class="layui-btn layui-btn-normal " onclick="open_getNotifications();"><i class="iconfont icon-gaozhishuchakan" title="告知书"></i> 告知书</button>
                 </div>
            </div>
            <div class="layui-col-md12 " >
                <div class="layui-card-body layui-row " style="padding: 0">
                    <div class="layui-card" style="border-width: 0;box-shadow:none" >
                        <div class="layui-card-header">
                            <div class="layui-input-inline layui-col-md6" >
                            <span th:text="${waitRecordModel.title}">加载中</span><span style="color: red;font-weight: normal">（提示:光标移至指定"答" 回车添加自定义问答）</span>
                            </div>
                            <div class="layui-input-inline layui-col-md6">
                                <div  style="float: right;visibility: hidden" id="record_switch_HTML">
                                   <div class="layui-unselect layui-form-switch" lay-skin="_switch"  id="record_switch_bool"  name="record_switch_bool"  isn="-1"><em>关闭</em><i></i></div>自动甄别
                                </div>
                            </div>
                        </div>
                        <div id="recorddetail_webkit">
                        <div style="" id="recorddetail_scrollhtml">
                            <div class="layui-card-body layui-row ">
                                <div class="layui-col-lg12 ">
                                    <div class="layui-col-md12  layui-show" style="height: 300px">
                                        <iframe src=""  frameborder="0" class="layui-iframe"  id="wordheaddownurl" name="wordheaddownurl" style="height: 100%;width: 100%"></iframe>
                                    </div>
                                    <table class="layui-table"  lay-skin="nob"style="table-layout: fixed;margin-bottom: 45px">
                                        <tbody id="recorddetail">
                                        <tr id="first_originaltr">
                                            <td style="padding: 0;width: 85%;" class="onetd">
                                                <div class="table_td_tt font_red_color"><span>问：</span><label contenteditable="true" name="q" onkeydown="qw_keydown(this,event);" q_starttime=""></label></div>
                                                <div class="table_td_tt font_blue_color"><span>答：</span><label contenteditable="true" name="w" onkeydown="qw_keydown(this,event);" w_starttime="" placeholder=""></label></div>
                                                <div id="btnadd"><button type="button" class="layui-btn layui-btn-warm" style="border-radius: 50%;width: 45px;height: 45px;padding:0px" title="添加一行自定义问答" onclick="focuslable(trtd_html,2,'q');"><i class="layui-icon" style="font-size: 45px"></i></button></div>
                                            </td>
                                            <td>
                                                <div class="layui-btn-group">
                                                    <button class="layui-btn layui-btn-normal layui-btn-xs" onclick="tr_up(this);"><i class="layui-icon layui-icon-up"></i></button>
                                                    <button class="layui-btn layui-btn-normal layui-btn-xs" onclick="tr_downn(this);"><i class="layui-icon layui-icon-down"></i></button>
                                                    <a class="layui-btn layui-btn-danger layui-btn-xs" style="margin-right: 10px;" lay-event="del" onclick="tr_remove(this);"><i class="layui-icon layui-icon-delete"></i>删除</a>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-md12 " style="position: absolute;bottom: 0;background-color: #FFFFFF;z-index:1;text-align: center;" >
                <div class="layui-col-md8" style="margin-bottom:0;">
                    <div class="" style="float: left;">
                            <div class="dropup btn-group">
                                <button class="layui-btn layui-btn-normal" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">常用时间<span class="caret"></span></button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2" id="cysj_li">
                                    <li type="1"><a href="#" >当前时间</a></li>
                                    <li type="2"><a href="#" >昨天时间</a></li>
                                    <li type="3"><a href="#" >案发时间</a></li>
                                </ul>
                            </div>
                            <div class="dropup btn-group">
                                <button class="layui-btn layui-btn-normal" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">常用问答<span class="caret"></span></button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu3" id="cywd_li">
                                    <li><a href="#">我明白了。</a></li>
                                    <li><a href="#">我知道了。</a></li>
                                    <li><a href="#">我清楚了。</a></li>
                                    <li><a href="#">没有。</a></li>
                                    <li><a href="#">是事实。</a></li>
                                </ul>
                            </div>
                    </div>

                </div>

            </div>
        </div>
       <div class="layui-col-md3" style="height: 830px;border:1px  solid #F2F2F2; overflow-x: hidden; overflow-y: scroll;"id="notshrink_html2" >

           <div class="layui-col-md12 " style="border: 0" >
                <div th:include="ecControl :: ecControl">...</div>
           </div>
           <!--底部按钮组start-->
            <div class="layui-col-md12 " style="position: absolute;bottom: 0;background-color: #FFFFFF;z-index:1;height: 200px;line-height: 200px;text-align: center" >
               <!-- <div class="layui-col-md4 "  id="record_img" style="width: 110px;" >
                    <img src="/uimaker/images/record_loading.gif" style="height: 80px;width: 110px;display: block;margin: auto;border-radius: 50%;cursor:pointer"  onclick="img_bool(this,1);" id="pauserecord" title="点击将开启场景模板对应的设备，进行制作">
                    <img src="/uimaker/images/record_loading.gif" style="height: 80px;width: 110px;display:none;margin: auto;border-radius: 50%;cursor:pointer"  onclick="img_bool(this,2);" id="startrecord" title="制作中">
                    <img src="/uimaker/images/record_loading.gif" style="height: 80px;width: 110px;display:none;margin: auto;border-radius: 50%;cursor:pointer"  onclick="img_bool(this,-1);" id="endrecord"title="已结束制作">
                </div>

                <div class="layui-col-md8  " style="float: right;">
                    &lt;!&ndash;<button class=" layui-btn layui-btn-warm "  onclick="overRecord(1);" id="adjourn_btn" style="display: none;">加载中</button>
                    <button class=" layui-btn layui-btn-warm "  onclick="overRecord(0);" id="overRecord_btn">加载中</button>&ndash;&gt;
                    <div style="float:right;">
                        <img src="/uimaker/images/record_loading.gif" style="height: 80px;width:110px;display: none;border-radius: 50%;cursor:pointer"   onclick="overRecord(1);"  id="adjourn_btn">
                        <img src="/uimaker/images/record_loading.gif" style="height: 80px;width: 110px;border-radius: 50%;cursor:pointer"   onclick="overRecord(0);"  id="overRecord_btn">
                    </div>
                   </div>-->
                <div class="layui-btn-group layui-col-md10 layui-col-lg-offset1" >
                    <button type="button" class="layui-btn  layui-btn-lg layui-col-md6  layui-btn-normal"  onclick="switchbtn(1,this)">视频视图</button>
                    <button type="button" class="layui-btn  layui-btn-lg layui-col-md6  layui-btn-primary" onclick="switchbtn(2,this)">笔录视图</button>
                </div>
                <button class=" layui-btn layui-btn-warm  layui-btn-lg"  style="width:180px;height: 80px;line-height: 80px;font-size: 20px;" id="start_over_btn" onclick="" >加载中</button>
            </div>
            <!--底部按钮组end-->
        </div>
    </div>

    <div th:replace="footer :: footer">...</div>
</div>

<script th:src="@{/js/jquery-1.11.1.js}" type="text/javascript"></script>
<script th:src="@{/js/common.js}"  type="text/javascript" ></script>
<script th:src="@{/js/actionid.js}" type="text/javascript"></script>
<script th:src="@{/js/list.js}" type="text/javascript"></script>
<script th:src="@{/js/url.js}" type="text/javascript"></script>
<script th:src="@{/js/echarts.min.js}" type="text/javascript"></script>
<script th:src="@{/js/socket.io.js}" type="text/javascript"></script>
<script th:src="@{/layui/layui.js}"type="text/javascript"></script>
<script th:src="@{/uimaker/js/bootstrap.js}"type="text/javascript"></script>
<script th:src="@{/layui/lay/modules/laytpl.js}" type="text/javascript"></script>
<script th:src="@{/js/client_web/police/record/waitRecord.js}" type="text/javascript"></script>
<script th:src="@{/js/client_web/police/record/waitRecord2.js}" type="text/javascript"></script>
<script th:src="@{/js/client_web/police/record/recordSettings.js}" type="text/javascript"></script>
<script th:src="@{/pdfjs/pdf.js}" type="text/javascript"></script>



<script th:inline="javascript">
    var INIT_CLIENT;
    var INIT_CLIENTKEY;
    var recordssid;
    var togetPolygraphurl;//打开身心检测数据
    var tocaseToUserURL;//人员案件编辑页
    var socket;
    var SOCKETIO_HOST=[[${session.SOCKETIO_HOST}]];
    var SOCKETIO_PORT=[[${session.SOCKETIO_PORT}]];
    var sessionadminssid=[[${session.MANAGE_CLIENT.ssid}]];

    var recordstate_index=null;//笔录状态栏的下标

    $(function(){
        INIT_CLIENT=[[${session.INIT_CLIENT}]];
        INIT_CLIENTKEY=[[${session.INIT_CLIENTKEY}]];
        setpageAction(INIT_CLIENT,"client_web/police/record/waitRecord");

        recordssid=[[${waitRecordModel.recordssid}]];
        getgnlist();
        getRecordById();
        getRecordrealByRecordssid();
        getTime();



        togetPolygraphurl= getActionURL(getactionid_manage().waitRecord_togetPolygraph);
        tocaseToUserURL= getActionURL(getactionid_manage().waitRecord_tocaseToUser);

        var templates= JSON.parse(sessionStorage.getItem(recordssid)||null)
        if (isNotEmpty(templates)) {
            $("#templatetoproblem_html").html("");
            for (var i = 0; i < templates.length; i++) {
                var templateToProblem = templates[i];
                var html="<tr> <td ondblclick='copy_problems(this);'referanswer='"+templateToProblem.referanswer+"'>问：<span >"+templateToProblem.problem+"</span></td></tr>";
                $("#templatetoproblem_html").append(html);
            }
        }


        $('#recorddetail_webkit, #recorddetail_scrollhtml div:eq(0)').css({'width':($("#www").width())});
        $(window).resize(function(){
            $('#recorddetail_webkit, #recorddetail_scrollhtml div:eq(0)').css({'width':($("#www").width())});
        })




    });
    layui.use(['layer','element','form'], function(){
        var layer = layui.layer; //获得layer模块
        var element = layui.element;
        var form=layui.form;

        form.on('select(burntime)', function (data) {
            updateBurnTime();
        });

        form.on('radio(bq_filter)', function(data){
            var data=data.value;
            if (data=="bq") {
                select_liveurl(this,1);
            }
        });

        form.on('radio(gq_filter)', function(data){
            var data=data.value;
            if (data=="gq") {
                select_liveurl(this,2);
            }
        });

        //使用模块
        var html='<table class="layui-table"  lay-skin="nob" lay-size="sm">\
                        <colgroup>\
                        <col width="50">\
                         <col>\
                       </colgroup> \
                                <tbody>\
                                    <tr>\
                                         <td>会议状态</td>\
                                        <td>\
                                        <span class="layui-badge layui-bg-gray" id="MtState" MtState="0" >未开启</span>\
                                        </td>\
                                    </tr>\
                                    <tr>\
                                        <td>语音识别</td>\
                                        <td>\
                                              <span class="layui-badge layui-bg-gray" id="AsrState" AsrState="0" >未开启</span>\
                                        </td>\
                                    </tr>\
                                    <tr>\
                                        <td>录音录像</td>\
                                        <td>\
                                        <span class="layui-badge layui-bg-gray" id="LiveState" LiveState="0">未开启</span>\
                                        </td>\
                                    </tr>\
                                     <tr>\
                                        <td>身心监控</td>\
                                        <td>\
                                        <span class="layui-badge layui-bg-gray" id="PolygraphState" PolygraphState="0">未开启</span>\
                                    </td>\
                                    </tr>\
                                </tbody>\
                        </table>';

        recordstate_index = layer.open({
            type:1,
            title: '状态栏',
            closeBtn: 0,
            skin: 'layui-layer-lan',
            shade: 0,
            offset: 'lb',
            area: ['250px', '185px'],
            maxmin: true,
            resize:false,
            content: html,
            success: function(layero,index){
                layer.min(index);
            }
        });

    });


    //获取语音识别界面的宽度
    var liveurl=null;

</script>

</body>
</html>