<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div data-th-fragment="playback">
    <div id="view" >
        <div id="player" class="player"></div>
    </div>
    <script src="/js/jquery-1.11.1.js" type="text/javascript"></script>
    <script type="text/javascript" src="/sewiseplayer/player/sewise.player.min.js"></script>
    <script src="/js/modular/playback.js" type="text/javascript"></script>
    <script type="text/javascript">
        //初始参数
        var setinterval;
        var totaltime;//视频总时间
        var progrssBar_width="65%";//默认进度套宽度
        var initvolume=100;//默认音量
        var recordnameshow="";//视频名称

        //视频回放初始化
        SewisePlayer.setup({
            server: "vod",
            type: "mp4",
            autostart:'true',
            lang: 'zh_CN',
            logo:'/sewiseplayer/logo.png',
            title: "笔录系统",
            buffer:'5',
            skin: "vodWhite",
            volume:1
        });

        function initplayer(time){
            var starttime=0;
            if (isNotEmpty(time)){
                starttime=time;//因为多个视频定位不能及时定位所以当time不为空是将time赋值为开始播放秒数
            }
            SewisePlayer.toPlay(videourl, recordnameshow,starttime, false);
            /*初始化总时间*/
            totaltime=SewisePlayer.duration();

            if (isNotEmpty(setinterval)){
                clearInterval(setinterval)
            }
            setinterval= setInterval( function() {
                gotoprogrssBarByPlayer();
            },1000);

            $("#progrssBar").css({"width":progrssBar_width});
            SewisePlayer.setVolume(parseFloat(initvolume)/100);
        }


        function gotoprogrssBarByPlayer(){
            if(!isNumber(totaltime)){
                totaltime=SewisePlayer.duration();
                // $("#totaltime").html(getFomathms(totaltime));
            };
            /*当前点播的秒数*/
            var currenttime=SewisePlayer.playTime();
            $("#currenttime").html(getFomathms(currenttime));
            if(currenttime<5){/*最少5秒，要不然一开始显示巨丑*/
                currenttime=5;
            }
            var progrssnum=currenttime/totaltime*100;
            $("#progrssBar").empty();
            var progrssBarstr="<div class=\"layui-progress-bar layui-bg-red\" lay-percent=\""+progrssnum+"%\" style=\"width: "+progrssnum+"%;\"></div>";
            $("#progrssBar").append(progrssBarstr);

        }



        /**
         * 修改进度(统一方法)
         */
        function changeProgrss(pb){

            var progrss;
            if(!isNumber(pb)){

                //当前div的开始和结束位置的x轴的位置
                var startx=$("#progrssBar").offset().left;
                var progrssBarwidth=$("#progrssBar").width();

                var checkx2startx=checkx-startx;
                progrss =parseInt(checkx2startx/progrssBarwidth*totaltime);
            }else{
                progrss=pb;
            }
            if(isNumber(totaltime)){
                SewisePlayer.doSeek(progrss);
                gotoprogrssBarByPlayer();

            }
        }

        var checkx;
        $(function(){
            $('#progrssBar').mousemove(function(e) {
                checkx = e.originalEvent.x || e.originalEvent.layerX || 0;
            });
        });



    </script>
    <div  style="width: 100%;display:flex;align-items: center;">
        <div class="layui-progress layui-progress-big layui-bg-gray" id="progrssBar" style="width: 65%;flex:none;" onclick="changeProgrss();">
            <div class="layui-progress-bar layui-bg-red" lay-percent="20%" style="width: 20%"></div>
        </div>
        <div style="flex:none;width: 15%;">
            <label >&nbsp;&nbsp;</label><label id="currenttime">00:00:00</label>
        </div>
        <div id="slideTest4" class="slideTest" style="width: 12%;flex:none;"></div>
    </div>
    <div class="layui-col-md12" style="line-height: 50px">
    <div style="width: 95%">
        <div style="overflow-x: auto;overflow-y: hidden;white-space: nowrap;width:100%;margin:5px;" id="videos">
        </div>
    </div>
    </div>
</div>
</body>
</html>