<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>笔录类型</title>
</head>
<body>
<div  data-th-fragment="recordtype">
        <div class="layui-card" >
            <div class="layui-card-header">
                选择审讯类型
            </div>
            <div class="layui-card-body" >
                <div class="layui-collapse"  id="recotdtypes" style="border:0">

                </div>
            </div>
        </div>
<script src="/js/modular/recordtype.js" type="text/javascript"></script>
</div>
</body>
</html>