<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>智能笔录系统</title>
</head>
<body>
<div data-th-fragment="tabdata"  style="height:100%;">
    <div class="layui-col-md12 layui-tab layui-tab-brief" style="height: 100%" >
        <ul class="layui-tab-title">
            <li onclick="initasr()"   id="asr" style="display: none">语音识别<span id="webkit2"></span></li>
            <li onclick="initph();"   id="ph" style="display: none">身心监测</li>
            <li onclick="initmood();" id="mood" style="display: none">情绪报告</li>
            <li onclick="initcase()"  id="case"  class="layui-this" > 案件信息<i class="layui-icon layui-icon-edit" style="font-size: 20px;color: red;display: none" title="编辑" onclick="open_casetouser()" id="open_casetouser" ></i></li>
        </ul>
        <div class="layui-tab-content" id="leftdiv" style="height:100%;overflow-x: hidden; overflow-y: scroll;">
            <div class="layui-tab-item "  id="asritem" style="height:100%;" >
                <div class="layui-card-header" style="height: 15%;font-weight: normal;background-color: transparent;overflow: hidden;line-height: normal;border:none;display: none" id="recordreals_selecthtml">
                    <div class="layui-col-md12 layui-col-xs12  layui-col-lg12" style="margin-bottom: 10px;display: none" id="generatePhreport">
                        <input type="checkbox" name="phreportshowhide" id="phreportshowhide" lay-skin="switch" lay-text="开启|关闭" lay-filter="phreportshowhide">
                        <span style="float: right"><span style="color: red" id="phreportshowhidemsg">（提示:开启可勾选生成情绪报告)</span>
                                        <button type="button" class="layui-btn layui-btn-normal" id="uploadPhreport" onclick="uploadPhreport();" style="visibility: hidden">生成情绪报告</button>
                          </span>
                    </div>
                    <div class="layui-col-md7 layui-col-xs7 layui-col-lg7" >
                        <input type="text" name="recordreals_select" lay-verify="required" placeholder="搜索内容" autocomplete="off" class="layui-input" id="recordreals_select" oninput="recordreals_select();"  >
                    </div>
                    <div class="layui-col-md5 layui-col-xs5  layui-col-lg5 layui-btn-group" >
                        <button type="button" class="layui-btn layui-btn-normal" onclick="last_realtxt();" >
                            <i class="layui-icon">&#xe619;</i>
                        </button>
                        <button type="button" class="layui-btn layui-btn-normal "onclick="next_realtxt();">
                            <i class="layui-icon">&#xe61a;</i>
                        </button>
                    </div>
                </div>
                <div class="layui-card" style="box-shadow: initial;height: 83%;overflow-x: hidden; overflow-y: scroll;" id="recordreals_scrollhtml">
                    <div class="layui-card-body" >
                        <div class="talk_show"  id="recordreals" >

                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-tab-item phitem2 "   ><!--phitem2:大小视频宽度-->
                <div th:replace="modular/polygrapdata :: polygrapdata"></div>
            </div>
            <div class="layui-tab-item " id="mooditem"  >
                <form class="layui-form" >
                    <div class="layui-form-item">
                        <label class="layui-form-label" style="width: auto;">报告名</label>
                        <div class="layui-input-inline">
                            <input type="text" name="phreportname" id="phreportname" lay-verify="required" placeholder="请输入情绪报告名称" autocomplete="off" class="layui-input" oninput="getPhreportsByParam();" >
                        </div>
                       <!-- <label class="layui-form-label" style="width: auto;">创建时间</label>
                        <div class="layui-input-inline" style="width: 300px;">
                            <input type="text" name="starttime" id="starttime" lay-verify="required" placeholder="请输入创建时间" autocomplete="off" class="layui-input" >
                        </div>-->
                        <input type="button" class="layui-btn layui-btn-normal " onclick="getPhreportsByParam();" value="查询"/>
                    </div>
                </form>
                <div th:replace="page :: page">...</div>
            </div>
            <div class="layui-tab-item layui-show" id="caseitem"  >
                <div class="layui-card-body">
                    <table class="layui-table" lay-skin="line" style="table-layout: fixed">
                        <tbody id="caseAndUserInfo_html">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/modular/tabdata.js" type="text/javascript"></script>
</div>
</body>
</html>