<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title th:text="${roleModel.title}">Title</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/uimaker/css/common.css">
</head>
<body>


<div style="margin: 15px;" class="layui-form">

    <div class="layui-elem-quote">
        <h3 th:text="${roleModel.title}"></h3>
    </div>

    <form class="layui-form" action="">
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: auto;">角色名称</label>
            <div class="layui-input-inline">
                <input type="text" name="roleName" required lay-verify="required" placeholder="请输入角色名称" autocomplete="off" class="layui-input">
            </div>
            <input type="submit" class="layui-btn layui-btn-normal" value="查询">
            <a th:href="@{/web/role/getAddRole}" class="layui-btn layui-btn-normal" >添加角色</a>
        </div>
    </form>

    <table class="layui-table" >
        <thead>
        <tr>
            <th>序号</th>
            <th>角色名称</th>
            <th>角色说明</th>
            <th>创建时间</th>
            <th>是否启用</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>超管</td>
            <td>可以管理一切</td>
            <td>2018-11-29</td>
            <td >
                 <input type="checkbox" name="switch" lay-skin="switch" lay-text="已启用|未启用" disabled>
            </td>
            <td>
                <a th:href="@{/web/role/getUpdateRole}" class="layui-btn layui-btn-normal layui-btn-sm">修改</a>
                <a href="http://www.layui.com" class="layui-btn layui-btn-danger layui-btn-sm">删除</a>
            </td>
        </tr>
        </tbody>
    </table>

    <div id="demo20" style="float: right;"></div>
    <ul id="biuuu_city_list"></ul>
</div>



<div th:replace="footer :: footer">...</div>

<script>
    //Demo
    layui.use('form', function(){});

    layui.use(['laypage', 'layer'], function(){
        var laypage = layui.laypage
            ,layer = layui.layer;

        //将一段数组分页展示

        //测试数据
        var data = [
            '北京',
            '上海',
            '广州',
            '深圳',
            '杭州',
            '长沙',
            '合肥',
            '宁夏',
            '成都',
            '西安',
            '南昌',
            '上饶',
            '沈阳',
            '济南',
            '厦门',
            '福州',
            '九江',
            '宜春',
            '赣州',
            '宁波',
            '绍兴',
            '无锡',
            '苏州',
            '徐州',
            '东莞',
            '佛山',
            '中山',
            '成都',
            '武汉',
            '青岛',
            '天津',
            '重庆',
            '南京',
            '九江',
            '香港',
            '澳门',
            '台北'
        ];

        //调用分页
        laypage.render({
            elem: 'demo20'
            ,count: data.length
            ,limit: 5
            ,theme: "#1e9fff"
            ,jump: function(obj){

                //加载层-风格4
                // var index = layer.msg('加载中', {
                //     icon: 16
                //     ,shade: 0.01
                //     ,time: 1000, //20s后自动关闭
                // });

                //模拟渲染
                // document.getElementById('biuuu_city_list').innerHTML = function(){
                //     var arr = []
                //         ,thisData = data.concat().splice(obj.curr*obj.limit - obj.limit, obj.limit);
                //     layui.each(thisData, function(index, item){
                //         arr.push('<li>'+ item +'</li>');
                //     });
                //     return arr.join('');
                // }();

                // console.log(index);

                // layer.close(index);

            }
        });




    });

</script>

</body>
</html>