#bars {
    position: absolute;
    top: 5px;
    right: 0;
    left: 162px;
    width: 140px;
    height: 60px;
}

#bars2 {
    position: absolute;
    top: 5px;
    right: -3px;
    width: 150px;
    height: 50px;
}
#bars div div {
    width: 3px;
    border-top: 2px solid #77e6ff;
    background: -moz-linear-gradient(top, rgba(124,205,124,1) 0%, rgba(105,139,105,1) 100%);
    background: -webkit-linear-gradient(top, rgba(124,205,124,1) 0%, rgba(105,139,105,1) 100%);
    background: linear-gradient(to bottom, rgb(43, 228, 43) 0%, rgb(59, 173, 59) 100%);
    position: absolute;
    bottom: 0;
}

#bars2 div div {
    width: 3px;
    border-top: 2px solid #84e2f7;
    background: -moz-linear-gradient(top, rgba(124,205,124,1) 0%, rgba(105,139,105,1) 100%);
    background: -webkit-linear-gradient(top, rgba(124,205,124,1) 0%, rgba(105,139,105,1) 100%);
    background: linear-gradient(to bottom, rgb(61, 220, 61) 0%, rgb(14, 210, 14) 100%);
    position: absolute;
    bottom: 0;
}

.bar{
    display: inline-block;width: 3px;
}

.bar2{
    display: inline-block;width: 3px;
}


