<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title th:text="${roleModel.title}">Title</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/uimaker/css/common.css">
    <style>
        .layui-form-switch {
            margin-top: 7px;
        }
    </style>
</head>
<body>

<div style="margin: 15px;">

    <div class="layui-elem-quote">
        <h3 th:text="${roleModel.title}"></h3>
    </div>

    <form class="layui-form layui-main site-inline" action="" style="margin-top: 30px;">
        <div class="layui-form-item">
            <label class="layui-form-label">角色名称</label>
            <div class="layui-input-block">
                <input type="text" name="rolename" required  lay-verify="required" placeholder="请输入角色名称" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">角色说明</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入角色说明" name="description" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">是否启用</label>
            <div class="layui-input-block">
                <input type="checkbox" name="rolebool" lay-skin="switch" lay-text="启用|不启用" checked>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-normal" lay-submit lay-filter="formDemo" th:text="${roleModel.title}">添加角色</button>
                <button class="layui-btn layui-btn-normal" onclick="history.go(-1);">返回</button>
            </div>
        </div>
    </form>


</div>

<div th:replace="footer :: footer">...</div>

<script>
    //Demo
    layui.use('form', function(){});
</script>

</body>
</html>