<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title th:text="${arraignment_countModel.title}">Title</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/uimaker/css/common.css">
</head>
<body>

<div style="margin: 15px;" class="layui-form">

    <div class="layui-elem-quote">
        <h3 th:text="${arraignment_countModel.title}"></h3>
    </div>

    <form class="layui-form" action="">
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: auto;">统计时段</label>
            <div class="layui-input-inline">
                <input type="text" name="starttime" id="starttime" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
            </div>

            <label class="layui-form-label" style="width: auto;">-</label>
            <div class="layui-input-inline">
                <input type="text" name="endtime" id="endtime" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
            </div>

            <label class="layui-form-label" style="width: auto;">语音笔录时长阈值</label>
            <div class="layui-input-inline">
                <input type="text" name="roleName" required lay-verify="required" placeholder="请输入阈值" autocomplete="off" class="layui-input">
            </div>
            <label class="layui-form-label" style="width: auto;">分钟</label>

            <input type="submit" class="layui-btn layui-btn-normal" value="查询">

            <input type="button" class="layui-btn layui-btn-normal" value="导出表格">
        </div>
    </form>



    <table class="layui-table" >
        <thead>
        <tr>
            <th>序号</th>
            <th>单位名称</th>
            <th>笔录总量</th>
            <th>语音笔录总量</th>
            <th>新增笔录数量</th>
            <th>笔录时长(分钟)</th>
            <th>语音转写时长(分钟)</th>
            <th>笔录字数</th>
            <th>转写字数</th>
            <th>计录字数</th>
            <th>使用人数</th>
            <th>登录次数</th>
            <th>登录时长(分钟)</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>吴斌</td>
            <td>666</td>
            <td>666</td>
            <td>666</td>
            <td>666</td>
            <td>666</td>
            <td>666</td>
            <td>666</td>
            <td>666</td>
            <td>666</td>
            <td>666</td>
            <td>666</td>
        </tr>
        </tbody>
    </table>

    <div id="demo20" style="float: right;"></div>
    <ul id="biuuu_city_list"></ul>
</div>

<div th:replace="footer :: footer">...</div>

<script>
    //Demo
    layui.use(['form', 'layedit', 'laydate','laypage', 'layer'], function(){

        var form = layui.form
            ,layer = layui.layer
            ,layedit = layui.layedit
            ,laydate = layui.laydate;

        var laypage = layui.laypage
            ,layer = layui.layer;

        //日期
        laydate.render({
            elem: '#starttime'
        });
        laydate.render({
            elem: '#endtime'
        });

        //将一段数组分页展示

        //测试数据
        var data = [
            '北京',
            '上海',
            '广州',
            '深圳',
            '杭州',
            '长沙',
            '合肥',
            '宁夏',
            '成都',
            '西安',
            '南昌',
            '上饶',
            '沈阳',
            '济南',
            '厦门',
            '福州',
            '九江',
            '宜春',
            '赣州',
            '宁波',
            '绍兴',
            '无锡',
            '苏州',
            '徐州',
            '东莞',
            '佛山',
            '中山',
            '成都',
            '武汉',
            '青岛',
            '天津',
            '重庆',
            '南京',
            '九江',
            '香港',
            '澳门',
            '台北'
        ];

        //调用分页
        laypage.render({
            elem: 'demo20'
            ,count: data.length
            ,limit: 5
            ,theme: "#1e9fff"
            ,jump: function(obj){

                //加载层-风格4
                var index = layer.msg('加载中', {
                    icon: 16
                    ,shade: 0.01
                    ,time: 1000, //20s后自动关闭
                });

                //模拟渲染
                // document.getElementById('biuuu_city_list').innerHTML = function(){
                //     var arr = []
                //         ,thisData = data.concat().splice(obj.curr*obj.limit - obj.limit, obj.limit);
                //     layui.each(thisData, function(index, item){
                //         arr.push('<li>'+ item +'</li>');
                //     });
                //     return arr.join('');
                // }();

                // console.log(index);

                // layer.close(index);

            }
        });




    });

</script>

</body>
</html>