<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>设备直播</title>
</head>
<body>
<div  data-th-fragment="ecControl">

    <div style="margin-bottom: 10px;padding:0 5px 5px 5px;" id="fditem">
        <div class="layui-card" style="margin-bottom: 5px;">
            <div class="layui-card-header">
                <i class="layui-icon layui-icon-video"></i>
                <span>视频录制</span>
                <span style="float: right;" id="cp_isrec">未开始</span></div>
            <div class="layui-card-body" style="overflow: hidden;">
                <div class="layui-progress layui-progress-big" lay-showpercent="true">
                    <div class="layui-progress-bar layui-bg-big" id="cp_freespace" lay-percent="0%" style="width: 0%;"><span class="layui-progress-text">0%</span></div>
                </div>
                <div style="float: right;margin-top: 5px;" id="cp_tag">800G可用 / 共1024G</div>
            </div>
        </div>

        <div class="layui-card" style="margin-bottom: 5px;">
            <div class="layui-card-header">
                <i class="layui-icon layui-icon-radio"></i>
                <span>刻录信息</span>
                <span style="float: right;" id="cp_isburn">未开始</span>
            </div>
            <div class="layui-card-body" style=" padding-bottom: 0;">
                <div class="layui-progress layui-progress-big" lay-showpercent="true">
                    <div class="layui-progress-bar layui-bg-big" id="roma_freespace" lay-percent="0%" style="width: 0%;"><span class="layui-progress-text">0%</span></div>
                </div>
                <div style="overflow: hidden;padding-top: 5px;">
                    <span style="float: left;" id="roma_state"><i class="layui-badge-dot off-dot" style="margin-right: 5px;width: 10px;height: 10px;"></i>未开始</span>
                    <b style="float: right;color: #e80000;" id="roma_status">没有光盘</b>
                </div>
                <div style="overflow: hidden;">
                    <div style="float: right;" id="roma_tag">0G可用 / 共0G</div>
                </div>
            </div>

            <div class="layui-card-body" >
                <div class="layui-progress layui-progress-big" lay-showpercent="true">
                    <div class="layui-progress-bar layui-bg-big" id="romb_freespace" lay-percent="0%" style="width: 0%;"><span class="layui-progress-text">0%</span></div>
                </div>
                <div style="overflow: hidden;padding-top: 5px;">
                    <span style="float: left;" id="romb_state"><i class="layui-badge-dot success-dot" style="margin-right: 5px;width: 10px;height: 10px;"></i>已开始</span>
                    <b style="float: right;color: #e80000;" id="romb_status">刻录中</b>
                </div>
                <div style="overflow: hidden;">
                    <div style="float: right;" id="romb_tag">0G可用 / 共0G</div>
                </div>
            </div>
        </div>

        <div class="layui-card" style="padding-bottom: 5px;">
            <div class="layui-card-header">
                <i class="layui-icon layui-icon-list"></i>
                <span>谈话信息</span>
            </div>

            <form class="layui-form" action="" lay-filter="example">
                <div class="layui-form-item" style="margin-top: 5px; ">
                    <label class="layui-form-label">光盘刻录：</label>
                    <div class="layui-input-block" >
                        <div style="padding-top: 5px;" >
                            <input type="radio" name="burn_mode" id="burn_mode_a" value="直刻模式" title="直刻模式"  lay-filter="kl_filter">
                            <span style="margin-left: 20px;"><input type="radio" name="burn_mode" id="burn_mode_b" value="接力刻录模式" title="接力刻录模式"  lay-filter="kl_filter"></span>
                        </div>
                    </div>
                </div>

                <div class="layui-form-item" style="margin-bottom: 0;">
                    <label class="layui-form-label">温湿度叠加</label>
                    <div class="layui-input-block" style="padding-top: 7px;">
                        <input type="checkbox" name="close" lay-skin="switch" >
                    </div>
                </div>

                <div class="layui-form-item" style="margin-bottom: 0;">
                    <div class="layui-inline">
                        <label class="layui-form-label">现场声音</label>
                        <div class="layui-input-block" style="padding-top: 7px;">
                            <input type="checkbox" name="close" lay-skin="switch" lay-filter="sceneVoice">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">音频波形</label>
                        <div class="layui-input-block" style="padding-top: 7px;">
                            <input type="checkbox" checked name="close" lay-skin="switch" lay-filter="voicebool">
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-input-block" style="margin-left: 80px;">
                        <button type="button" class="layui-btn layui-btn-orange" style="width: 150px;height:50px;margin-right: 10px;background-color: #4476A7;">重点标记</button>
                        <button type="button" class="layui-btn layui-btn-orange" style="width: 150px;height:50px;margin-left: 10px;background-color: #4476A7;" id="yuntaikz" >云台控制</button>
                    </div>
                </div>
            </form>
        </div>

        <!--<button onclick="location.reload();">刷新</button>-->
    </div>

</div>
</body>
</html>