<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>设备直播</title>
</head>
<body>
<div  data-th-fragment="ecControl">

    <div style="margin-bottom: 10px;padding:0 5px 5px 5px;" id="fditem">
        <div class="layui-card">
            <div class="layui-card-header">
                <i class="layui-icon layui-icon-video"></i>
                <span>视频录制</span>
                <span style="float: right;">未开始</span></div>
            <div class="layui-card-body" style="overflow: hidden;">
                <div class="layui-progress layui-progress-big" lay-showpercent="true">
                    <div class="layui-progress-bar layui-bg-big" lay-percent="30%" style="width: 30%;"><span class="layui-progress-text">30%</span></div>
                </div>
                <div style="float: right;margin-top: 5px;">800G可用 / 共1024G</div>
            </div>
        </div>

        <div class="layui-card">
            <div class="layui-card-header">
                <i class="layui-icon layui-icon-radio"></i>
                <span>刻录信息</span>
                <span style="float: right;">未开始</span></div>
            <div class="layui-card-body" style=" padding-bottom: 0;">
                <div class="layui-progress layui-progress-big" lay-showpercent="true">
                    <div class="layui-progress-bar layui-bg-big" lay-percent="30%" style="width: 30%;"><span class="layui-progress-text">30%</span></div>
                </div>
                <div style="overflow: hidden;padding-top: 5px;">
                    <span style="float: left;"><i class="layui-badge-dot off-dot"></i>未开始</span>
                    <b style="float: right;color: #e80000;">没有光盘</b>
                </div>
                <div style="overflow: hidden;">
                    <div style="float: right;">800G可用 / 共1024G</div>
                </div>
            </div>

            <div class="layui-card-body" >
                <div class="layui-progress layui-progress-big" lay-showpercent="true">
                    <div class="layui-progress-bar layui-bg-big" lay-percent="30%" style="width: 30%;"><span class="layui-progress-text">30%</span></div>
                </div>
                <div style="overflow: hidden;padding-top: 5px;">
                    <span style="float: left;"><i class="layui-badge-dot success-dot"></i>已开始</span>
                    <b style="float: right;color: #e80000;">刻录中</b>
                </div>
                <div style="overflow: hidden;">
                    <div style="float: right;">800G可用 / 共1024G</div>
                </div>
            </div>
        </div>

        <div class="layui-card" style="padding-bottom: 5px;">
            <div class="layui-card-header">
                <i class="layui-icon layui-icon-list"></i>
                <span>谈话信息</span>
            </div>

            <form class="layui-form" action="" lay-filter="example">
                <div class="layui-form-item">
                    <label class="layui-form-label">光盘刻录：</label>
                    <div class="layui-input-block" >
                        <div style="padding-top: 10px;"><i class="layui-badge-dot off-dot"></i>不刻录</div>
                        <div style="margin-top: 20px;">
                            <span style="margin-right: 30px;"><i class="layui-badge-dot off-dot"></i>单盘接力刻录</span>
                            <span><i class="layui-badge-dot success-dot"></i>双盘同步直刻</span>
                        </div>
                    </div>
                </div>

                <div class="layui-form-item" style="margin-bottom: 0;">
                    <label class="layui-form-label">温湿度叠加</label>
                    <div class="layui-input-block" style="padding-top: 7px;">
                        <input type="checkbox" name="close" lay-skin="switch" >
                    </div>
                </div>

                <div class="layui-form-item" style="margin-bottom: 0;">
                    <div class="layui-inline">
                        <label class="layui-form-label">现场声音</label>
                        <div class="layui-input-block" style="padding-top: 7px;">
                            <input type="checkbox" name="close" lay-skin="switch" >
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">音频波形</label>
                        <div class="layui-input-block" style="padding-top: 7px;">
                            <input type="checkbox" name="close" lay-skin="switch" >
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-input-block" style="margin-left: 80px;">
                        <button type="button" class="layui-btn layui-btn-normal" style="width: 150px;height:50px;margin-right: 10px;">重点标记</button>
                        <button type="button" class="layui-btn layui-btn-normal" style="width: 150px;height:50px;margin-left: 10px;" id="yuntaikz" onclick="yuntaikz();">云台控制</button>
                    </div>
                </div>
            </form>
        </div>

        <!--<button onclick="location.reload();">刷新</button>-->
    </div>

</div>
</body>
</html>