<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>设备直播</title>
</head>
<body>
<div  data-th-fragment="living">
    <div id="view" >
        <div id="player" class="player"></div>
    </div>

    <!--播放器/代码开始-->
    <script src="/js/jquery-1.11.1.js" type="text/javascript"></script>
    <script type="text/javascript" src="/sewiseplayer/player/sewise.player.min.js"></script>
    <script type="text/javascript">

        function initplayer(){
            SewisePlayer.doStop();
            SewisePlayer.toPlay(liveurl, recordnameshow, 0, true);

        }
    </script>
    <!--播放器/代码结束-->
</div>
</body>
</html>