<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>设备直播</title>
</head>
<body>
<div  data-th-fragment="living">

    <div id="view" >
        <div id="player" class="player"></div>
    </div>

    <!--播放器/代码开始-->
    <script src="/js/jquery-1.11.1.js" type="text/javascript"></script>
    <script type="text/javascript" src="/swfplayer/vt_js/swfobject.js"></script>
    <script type="text/javascript">
        var asrwh=$("#recordreals").width();
        var asrht=asrwh*2.5/4;


        function play(strusr,strpass){

            var player = document.getElementById("player");
            player_div = null;
            // remove old player
            if(player_div != null){
                player.innerHTML = "";
            }
            // create new div
            player_div = document.createElement("div");
            player.appendChild(player_div);

            // set id to swfobject to create player.
            player_div.id = "player_div";

            // generate player.
            var width = asrwh;
            var height = asrht;

            // set new style
            var main = document.getElementById("view");
            var min_width = 1024;
            main.style.width = Math.max(min_width, width);

            var flashvars = {};
            var dev_ip   = "192.168.17.154";
            var url = liveurl+"?usr="+strusr+"_pwd="+strpass;
            //alert(url);
            flashvars.src = url;
            flashvars.streamType = "live"; // live or recorded
            flashvars.autoPlay = true;
            flashvars.controlBarAutoHide = false;
            flashvars.scaleMode = "stretch";
            flashvars.bufferTime = "1";
            flashvars.volume=0;
            var params = {};
            params.allowFullScreen=true;
            var attributes = {};

            swfobject.embedSWF(
                "/swfplayer/vt_img/StrobeMediaPlayback.swf", "player_div",
                width, height,
                "11.1", "/swfplayer/vt_img/AdobeFlashPlayerInstall.swf",
                flashvars, params, attributes
            );
        }

        function initplayer(){
            play("admin","admin123");
        }

    </script>

    <!--播放器/代码结束-->


</div>
</body>
</html>