<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>action is everything</title>
</head>
<body>
<div  data-th-fragment="page">
    <div id="pagelistview" class="container-fluid"></div>
    <div id="paging"  class="layui-box layui-laypage layui-laypage-molv" style="text-align:center;cursor:pointer;">

    <script th:inline="javascript">

        var result=[[${result}]];
        var pagelist;
        var pageparam;
        if (isNotEmpty(result)) {
            pageshow(result);
        }

        function pageshow(data){
            pagelist=data.data.pagelist;
            pageparam=data.data.pageparam;
            $("#pagelisttemplates_tbody").html("");
            $("#paging").html("");
            if (isNotEmpty(pagelist)) {
                detail();
                showpagetohtml();
            }

        }

    </script>
</div>
</body>
</html>