<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title th:text="${configModel.title}">Title</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <style>
        .layui-elem-quote{
            border-left: 5px solid #007aff;
        }
    </style>
</head>
<body>


<div style="margin: 15px;">

    <div class="layui-elem-quote">
        <h3 th:text="${configModel.title}"></h3>
    </div>

    <form class="layui-form layui-main site-inline" action="" style="margin-top: 30px;">
        <div class="layui-form-item">
            <label class="layui-form-label">应用名称</label>
            <div class="layui-input-block">
                <input type="text" name="title" required  lay-verify="required" placeholder="请输入应用名称" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">Logo</label>
            <div class="layui-input-inline">
                <input type="text" lay-verify="required" placeholder="Logo图片地址" autocomplete="off" class="layui-input" >
            </div>

            <button type="button" class="layui-btn layui-btn-danger" id="test1"><i class="layui-icon"></i>上传图片</button>
            <div class="layui-inline layui-word-aux">
                这里以限制 60KB 为例
            </div>
            <div class="layui-upload-list" style="margin-left: 110px;">
                <img class="layui-upload-img" id="demo1" style="width: 300px;">
                <p id="demoText"></p>
            </div>

        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">上级机构</label>
            <div class="layui-input-block">
                <input type="text" name="title" required  lay-verify="required" placeholder="请输入上级机构" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">节点单位名</label>
            <div class="layui-input-block">
                <input type="text" name="title" required  lay-verify="required" placeholder="请输入节点单位名称" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">授权信息</label>
            <div class="layui-input-block">
                <textarea name="desc" placeholder="请输入授权信息" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-normal" lay-submit lay-filter="formDemo">保存配置</button>
            </div>
        </div>
    </form>


</div>

<div th:replace="footer :: footer">...</div>

<script>
    layui.use('upload', function(){
        var $ = layui.jquery
            ,upload = layui.upload;

        //普通图片上传
        var uploadInst = upload.render({
            elem: '#test1'
            ,url: '/upload/'
            // ,exts: 'jpg|png|7z' //只允许上传压缩文件
            // ,size: 60 //限制文件大小，单位 KB
            ,before: function(obj){

                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    $('#demo1').attr('src', result); //图片链接（base64）
                });
            }
            ,done: function(res){
                //如果上传失败
                if(res.code > 0){
                    return layer.msg('上传失败');
                }
                //上传成功
                //把图片地址回显在输入框中
            }
            ,error: function(){
                //演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function(){
                    uploadInst.upload();
                });
            }
        });



    });
</script>
</body>
</html>