<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>设备直播</title>
</head>
<body>
<div  data-th-fragment="video">
    <div id="view" >
        <div id="player" class="player"></div>
    </div>

    <!--播放器/代码开始-->
    <script src="/js/jquery-1.11.1.js" type="text/javascript"></script>
    <script type="text/javascript" src="/sewiseplayer/player/sewise.player.min.js"></script>
    <script type="text/javascript">
        SewisePlayer.setup({
            server: "vod",
            type: "mp4",
            autostart:'true',
            lang: 'zh_CN',
            logo:'/sewiseplayer/logo.png',
            title: "AVST",
            buffer:'5',
            skin: "vodWhite",
            volume:'0'
        });
        function initplayer(){
            var initstate=true;
            if (null==videourl) {
                initstate=false;
            }
            SewisePlayer.toPlay(videourl, recordnameshow, 0, initstate);
        }
    </script>
    <!--播放器/代码结束-->
</div>
</body>
</html>