<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>视频点播</title>
</head>
<body>
<div  data-th-fragment="video">
    <div id="view" >
        <div id="player" class="player"></div>
    </div>

    <!--播放器/代码开始-->
    <script src="/js/jquery-1.11.1.js" type="text/javascript"></script>
    <script th:src="@{/layui/layui.js}"type="text/javascript"></script>
    <script type="text/javascript" src="/sewiseplayer/player/sewise.player.min.js"></script>
    <script type="text/javascript">

        var setinterval1;
        var totaltime;
        var mouseoverbool=-1;//是否滚动1滚2不滚

        SewisePlayer.setup({
            server: "vod",
            type: "mp4",
            autostart:'true',
            lang: 'zh_CN',
            logo:'/sewiseplayer/logo.png',
            title: "AVST",
            buffer:'5',
            skin: "vodWhite",
        });
        function initplayer(){
            SewisePlayer.toPlay(videourl, recordnameshow, 0, false);
            /*初始化总时间*/
            totaltime=SewisePlayer.duration();
            if(isNumber(totaltime)){
                $("#totaltime").html(getFomathms(totaltime));
            };
            setinterval1= setInterval( function() {
                gotoprogrssBarByPlayer();
            },1000);

        }
        layui.use('element', function(){
            var element = layui.element;
        });

        function gotoprogrssBarByPlayer(){
            if(!isNumber(totaltime)){
                totaltime=SewisePlayer.duration();
                $("#totaltime").html(getFomathms(totaltime));
            };
            /*当前点播的秒数*/
            var currenttime=SewisePlayer.playTime();
            $("#currenttime").html(getFomathms(currenttime));
            if(currenttime<5){/*最少5秒，要不然一开始显示巨丑*/
                currenttime=5;
            }
            var progrssnum=currenttime/totaltime*100;
            $("#progrssBar").empty();
            var progrssBarstr="<div class=\"layui-progress-bar layui-bg-red\" lay-percent=\""+progrssnum+"%\" style=\"width: "+progrssnum+"%;\"></div>";
            $("#progrssBar").append(progrssBarstr);

            if (isNotEmpty(currenttime)&&currenttime>0){
                var locationtime=currenttime;
                locationtime=locationtime*1000<0?0:locationtime*1000; //秒转时间戳
                //左侧
                var recordrealsdivlen=$("#recordreals div").length;//识别长度
                $("#recordreals div").each(function (i,e) {
                    var t=$(this).attr("times");
                    var start=t;
                    var end=0;
                    if (i>=recordrealsdivlen-1) {
                        end= t;//下一个区间
                    }else {
                        end= $("#recordreals div:eq("+(i+1)+")").attr("times");//下一个区间
                    }
                    if (locationtime>=parseFloat(start)&&(parseFloat(start)==parseFloat(end)||locationtime<=parseFloat(end))) {
                        $("#recordreals span").css("color","#fff").removeClass("highlight_left");
                        $("span",this).css("color","#FFFF00 ").addClass("highlight_left");



                        $("#recordreals").hover(
                            function(){
                                mouseoverbool=1
                            } ,
                            function(){
                                mouseoverbool=-1;
                            });


                        if (mouseoverbool==-1){
                            var top=$(this).position().top;
                            $("#recordreals_scrollhtml").animate({scrollTop:top},500);
                        }


                    }
                });

                //中间
                var arrph=[];
                var dq_phdataback=null;
                if (isNotEmpty(phdatabackList)){
                    locationtime=currenttime; //时间戳转秒
                    for (var i = 0; i < phdatabackList.length; i++) {
                         var phdataback = phdatabackList[i];
                        var num=phdataback.num;
                        var startph=num;
                        var endph=0;
                        if (i>= phdatabackList.length-1) {
                            endph= num;//下一个区间
                        }else {
                            endph=phdatabackList[i+1].num;
                        }
                        if (locationtime>=startph&&locationtime<=endph) {
                            dq_phdataback = phdatabackList[i];
                           /* var start_i=i<0?0:i;
                            var end_i=(i+50)>=phdatabackList.length?phdatabackList.length:(i+50);
                            arrph= phdatabackList.slice(start_i,end_i);*/

                           var start_i=(i-26)<0?0:(i-26);
                           var end_i=(i+25)>=phdatabackList.length?phdatabackList.length:(i+25);
                            arrph= phdatabackList.slice(start_i,end_i);
                        }
                    }
                    phdata(arrph,dq_phdataback);
                }
            }



        }


        /**
         * 修改进度(统一方法)
         */
        function changeProgrss(pb){

            var progrss;
            if(!isNumber(pb)){

                //当前div的开始和结束位置的x轴的位置
                var startx=$("#progrssBar").offset().left;
                var progrssBarwidth=$("#progrssBar").width();

                var checkx2startx=checkx-startx;
                progrss =parseInt(checkx2startx/progrssBarwidth*totaltime);
            }else{
                progrss=pb;
            }
            if(isNumber(totaltime)){
                SewisePlayer.doSeek(progrss);
                gotoprogrssBarByPlayer();

            }
        }

        var checkx;
        $(function(){
            $('#progrssBar').mousemove(function(e) {
                checkx = e.originalEvent.x || e.originalEvent.layerX || 0;
            });

        });



    </script>
    <!--播放器/代码结束-->

    <div  style="width: 100%;display:flex;">
        <div class="layui-progress layui-progress-big layui-bg-gray" id="progrssBar" style="width: 70%;flex:none;" onclick="changeProgrss();">
            <div class="layui-progress-bar layui-bg-red" lay-percent="20%\" style="width: 20%"></div>
        </div>
        <div style="flex:1;float: right;"><!--时间显示-->
            <label >&nbsp;&nbsp;</label><label id="currenttime">00:00:00</label>/<label id="totaltime" >未知</label>
        </div>
    </div>

</div>
</body>
</html>