<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="header :: header">...</div>

<div>

    <table>
        <thead>
        <th>横1</th><th>横2</th>
        </thead>
        <tbody>

            <tr th:if="${userModel.title} eq null">
                <td>没有数据1</td>
                <td>没有数据2</td>
            </tr>
            <tr th:if="${userModel.title} ne null">
                <td>数据1</td>
                <td>数据2</td>
            </tr>

            <tr><td>数据1</td><td>数据2</td></tr>
            <tr><td>数据1</td><td>数据2</td></tr>

        </tbody>
    </table>

</div>

<div th:replace="footer :: footer">...</div>

</body>
</html>